@model GenEf.Efs.Entities.News
@{
    ViewData["Title"] = "Chi tiết";
}



<h4>Chi tiết bài đăng</h4>
<hr />

<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.SlugTitle" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.SlugTitle" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại danh sách</a>
    </div>
</div>



<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
       Tiêu đề :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Title)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
       SEO :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.SlugTitle)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Auto SEO :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.AutoSlug)
    </div>
</div>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Mô tả ngắn :
    </div>
    <div class="col-12 border border-primary">
        @Html.Raw(Model.ShortDescriptionHtml)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Mô tả dài :
    </div>
    <div class="col-12 border border-primary">
        @Html.Raw(Model.LongDescriptionHtml)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Hình ảnh :
    </div>
    <div class="col-md-7">
        <img width="200" class="border border-primary" id="img_ImageSlug" src="~/Image/@Url.Content(Model?.ImageSlug)" />
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Thẻ (tag) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Tags)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.KeyWord) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.KeyWord)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.MetaData) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.MetaData)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ghi chú :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.Note)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Người tạo :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày tạo :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Người sửa :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Ngày sửa :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowVersion) :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.RowVersion)
    </div>
</div>

<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        @Html.DisplayNameFor(model => model.RowStatus) :
    </div>
    <div class="col-md-7">
        @Model.RowStatus.ToString("N0")
    </div>
</div>


<div class="row form-group">
    <div class="col-md-3 text-md-right details-label">
        Loại bài đăng :
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(model => model.FkNewsType.Name)
    </div>
</div>



<div class="row form-group">
    <div class="col-md-3 text-md-right ">
    </div>
    <div class="col-md-7">
        <a asp-action="Edit" asp-route-id="@Model.SlugTitle" class="btn btn-primary">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.SlugTitle" class="btn btn-danger">Xoá</a>
        <a asp-action="Index" class="k-button">Quay lại danh sách</a>
    </div>
</div>
