@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@model ServicesViewModel
@{
    ViewBag.Title = "Chi Tiết Dịch Vụ";
}
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Chi Tiết <span>Dịch Vụ</span></h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="~/Home">Trang Chủ</a><span class="line-separate">/</span><a href="~/dich-vu">Dịch Vụ</a><span class="line-separate">/</span><span>Chi Tiết Dịch Vụ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-9">
                    <div class="blog-posts">
                        <div class="post-item fx" data-animate="fadeInLeft">
                           
                            <article class="post-content">
                                <div class="post-info-container">
                                    <h1 class="main-color">@Model.service.ServiceName</h1>

                                    <div class="post-info">
                                        <ul class="post-meta">
                                            <li class="meta-user"><i class="fa fa-user"></i>Bởi: <a href="#">@Model.service.CreatedBy</a></li>
                                            </ul>
                                    </div>
                                </div>
                                <p>
                                    @Model.service.ShortDescriptionHtml
                                </p>
                                <blockquote>
                                    <p>Người tạo</p>
                                    <span>- @Model.service.CreatedBy"</span>
                                </blockquote>
                                <p>
                                    @Model.service.LongDescriptionHtml
                                </p>
                                <div class="post-tags">
                                    <i class="fa fa-tags"></i><span>Thẻ: </span><a href="#">@Model.service.Tags</a>
                                </div>
                                <div class="share-post">
                                    <span class="sh">Chia sẻ lên:</span>
                                    <div id="shareme" data-text="Share this post"></div>
                                </div>
                            </article>
                        </div><!-- .post-item end -->
                        
                    </div>
                </div>
                <aside class="cell-3 right-sidebar">
                    <ul class="sidebar_widgets">
                    
                        <li class="widget r-posts-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Bài Viết Gần Đây</h3>
                            <div class="widget-content">
                                <ul>
                                    @foreach (var item in Model.listService.Take(3))
                                    {
                                        <li>
                                            <div class="post-img">
                                                <img src="~/Images/News/@item.ImageSlug" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4>
                                                    <a href="~/chi-tiet-dich-vu?id=@item.Id">
                                                        @item.ServiceName
                                                    </a>
                                                </h4>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>@item.CreatedDate</span>

                                                </div>
                                            </div>
                                        </li>
                                    }
                                    @*<li>
                                            <div class="post-img">
                                                <img src="images/people/1.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4>
                                                    <a href="blog-single.html">
                                                        Blog post title
                                                    </a>
                                                </h4>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-img">
                                                <img src="images/people/1.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4>
                                                    <a href="blog-single.html">
                                                        Blog post title with Image
                                                    </a>
                                                </h4>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"></a>
                                                </div>
                                            </div>
                                        </li>*@
                                </ul>
                            </div>
                        </li>

                        @*<li class="widget blog-cat-w fx" data-animate="fadeInRight">
                                <h3 class="widget-head">Blog Categories</h3>
                                <div class="widget-content">
                                    <ul class="list list-ok alt">
                                        @{
                                            foreach (var item in Model.listBlogT)
                                            {
                                                int dem = 0;
                                                <li>

                                                    @foreach (var item1 in Model.listBlog)
                                                    {
                                                        if (item.Id == item1.FkNewsTypeId)
                                                        { dem += 1; }
                                                    }
                                                    <a href="blog-single.html">@item.Name</a><span>[@dem]</span>
                                                </li>
                                            }
                                        }
                                        <li><a href="blog-single.html">Web development</a><span>[3]</span></li>
                                            <li><a href="blog-single.html">Sports News</a><span>[25]</span></li>
                                            <li><a href="blog-single.html">Corporate news</a><span>[12]</span></li>

                                    </ul>
                                </div>
                            </li>*@

                        @*<li class="widget r-comments-w fx" data-animate="fadeInRight">
                                <h3 class="widget-head">Recent Comments</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li>
                                            <div class="left"><i class="fa fa-comments"></i></div>
                                            <h5>admin on <a href="blog-single.html">Blog Post with Video</a></h5>
                                            <span><i class="fa fa-clock-o"></i>Dec 28, 2013</span>
                                        </li>
                                        <li>
                                            <div class="left"><i class="fa fa-comments"></i></div>
                                            <h5>admin on <a href="blog-single.html">Blog post title with Image</a></h5>
                                            <span><i class="fa fa-clock-o"></i>Dec 24, 2013</span>
                                        </li>
                                        <li>
                                            <div class="left"><i class="fa fa-comments"></i></div>
                                            <h5>admin on <a href="blog-single.html">Blog post title with Image</a></h5>
                                            <span><i class="fa fa-clock-o"></i>Dec 22, 2013</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@

                        <li class="widget tags-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Tag Cloud</h3>
                            <div class="widget-content">
                                <div class="tags">
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">Performance</a>
                                    <a href="#">Development</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">SEO</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">ASP.Net</a>
                                    <a href="#">SharePoint</a>
                                </div>
                            </div>
                        </li>

                        <li class="widget flickr-stream-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Flickr Stream</h3>
                            <div class="widget-content">
                                <ul id="flickrFeed-inner"></ul>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>
@section scripts{
    @{
        var titleimg = await AT.Helpers.MenuHelper.GetDataMenu(webContext);
        foreach (var item in titleimg.listMenu)
        {
            if (item.SlugName == "dich-vu")
            {
                <style>
                .title-1 {
                     background: #fff url('../@item.ImageSlug') no-repeat 50% 50%;
                }
                </style>
            }
        }
    }
}