@*@model List<AT.Efs.Entities.Menu>*@
@model MenuViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@foreach (var item in Model.listMenu)
{
    <li>
        @if (item.SlugName == "tuyen-dung")
        {
            var modelNewtype = await AT.Helpers.MenuHelper.GetDataMenu(webContext);
            foreach (var item1 in modelNewtype.listNewType)
            {
                if (item.SlugName == item1.SlugName)
                {
                    <a href="~/tin-tuc?id=@item1.Id"><i class="@item.IconSlug"></i><span>@item.Name</span></a>
                }
            }

        }
        else
        {
            <a href="~/@item.SlugName"><i class="@item.IconSlug"></i><span>@item.Name</span></a>
        }
        @if (item.SlugName == "dich-vu")
        {
            <ul>
                @foreach (var item2 in Model.listService)
                {
                    <li><a href="#">@item2.ServiceName</a></li>
                }
            </ul>
        }
        else if (item.SlugName == "trang-chu" || item.SlugName == "gioi-thieu" || item.SlugName == "lien-he")
        {

        }
        else
        {
            <ul>
                <li>
                    <a href="#">Shop Products listing</a>
                    <ul>
                        <li><a href="shop-right-bar.html">Right Side Bar</a></li>
                        <li><a href="shop.html">Left Side Bar</a></li>
                        <li><a href="shop-no-bar.html">No side bar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Product Page</a>
                    <ul>
                        <li><a href="product-right-bar.html">Right Side Bar</a></li>
                        <li><a href="product.html">Left Side Bar</a></li>
                        <li><a href="product-no-bar.html">No side bar</a></li>
                    </ul>
                </li>
                <li><a href="cart.html">Shoping cart</a></li>
                <li><a href="check-out.html">Check out</a></li>
            </ul>
        }

    </li>
}
