@model AccountObjectCreateViewModel


@{
    ViewData["Title"] = "Tạo tài khoản";

}


<h4>Tạo tài khoản</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại danh sách</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="AccountObjectCode" class="col-form-label">Mã</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="AccountObjectCode" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="AccountObjectCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="AccountObjectName" class="col-form-label">Họ tên</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="AccountObjectName" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="AccountObjectName" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="FkAccountObjectType" class="col-form-label">Loại tài khoản</label>
        </div>
        <div class="col-md-7">
            <select asp-for="FkAccountObjectType">
                <option value="1">
                    Khách hàng
                </option>
                <option value="2">
                    Nhà cung cấp
                </option>
                <option value="3">
                    Nhân viên
                </option>
                <option value="4">
                    Quản trị
                </option>
                <option value="5">
                    Chuyển phát
                </option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="UserLogin" class="col-form-label">Tên đăng nhập</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="UserLogin" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="UserLogin" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="PasswordLogin" class="col-form-label">Mật khẩu</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="PasswordLogin" type="password" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="PasswordLogin" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group slugName">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Mobile" class="col-form-label">Số điện thoại</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Mobile" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="EmailAddress" class="col-form-label">Email</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="EmailAddress" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Gender" class="col-form-label">Giới tính</label>
        </div>
        <div class="col-md-7">
            <select asp-for="Gender">
                <option value="">
                    - Chọn -
                </option>
                <option value="0">
                    Nam
                </option>
                <option value="1">
                    Nữ
                </option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="BirthDate" class="col-form-label">Ngày sinh</label>
        </div>
        <div class="col-md-7">
            <input asp-for="BirthDate" type="date" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="BirthPlace" class="col-form-label">Quê quán</label>
        </div>
        <div class="col-md-7">
            <input asp-for="BirthPlace" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Address" class="col-form-label">Địa chỉ</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Address" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Fax" class="col-form-label">Fax</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Fax" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Country" class="col-form-label">Quốc gia</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Country" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="ProvinceOrCity" class="col-form-label">Tỉnh / Thành phố</label>
        </div>
        <div class="col-md-7">
            <input asp-for="ProvinceOrCity" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="ProvinceOrCity" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="District" class="col-form-label">Quận / Huyện</label>
        </div>
        <div class="col-md-7">
            <input asp-for="District" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="WardOrCommune" class="col-form-label">Phường / Xã</label>
        </div>
        <div class="col-md-7">
            <input asp-for="WardOrCommune" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="WardOrCommune" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="ImageSlug" class="col-form-label">Hình ảnh</label>
        </div>
        <div class="col-md-7">
            <button id="btnChooseImage_ImageSlug" class="btn mb-1">Chọn hình</button>
            <input style="display:none;" asp-for="ImageSlug" />
            <img width="200" class="border border-primary" id="img_ImageSlug" src="~/Image/@Url.Content(Model?.ImageSlug)" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="ImageSlug" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại danh sách</a>
        </div>
    </div>
</form>


@(Html.Kendo().Dialog()
    .Name("dialogChooseImage_ImageSlug")
    .Title("Chọn hình")
    .Content("<div id=\"divChooseImage_ImageSlug\"></div>")
    .Width(600)
    .Visible(false)
    .Modal(true)
)



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#divChooseImage_ImageSlug").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content( ImageBrowserAccountObjectController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#ImageSlug").val(selectedImage);
                    $("#img_ImageSlug").attr("src", "/Image/"+ selectedImage);
                    $('#dialogChooseImage_ImageSlug').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_ImageSlug").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_ImageSlug').data("kendoDialog").open();

            });
        });
    </script>
}