@model AT.Models.HomeViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Content Start -->
<div id="contentWrapper">
    <!-- Revolution slider start -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @{
                var ImageModel = await AT.Helpers.SettingHelper.GetDataSetting(webContext);

                foreach (var item in ImageModel.listimg)
                {
                    if (item.Description == "slider")
                    {
                        <div class="swiper-slide">
                            <img src="~/Images/slider/slider-3/@item.Thumbnail" />
                        </div>
                    }
                }

            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- Revolution slider end -->
    <!-- Welcome Box start -->
    <div class="dark-bg">
        <div class="container">
            <div class="row">
                <div class="cell-9">
                    <h2><span class="main-color">Chào mừng đến với AT-SOLUTION</span> - Giải pháp toàn diện cho doanh nghiêp</h2>
                    <p>Phần Mềm Bán Hàng - Y Tế - Giáo Dục - Doanh Nghiệp - Website - Hạ Tầng CNTT</p>
                </div>
                <div class="cell-3 center">
                    <a href="~/gioi-thieu" class="btn main-bg ExtraLargeBtn">Về chúng tôi</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Box end -->

    <div class="sectionWrapper">
        <div class="container">

            @{
                foreach (var item in Model.listservice)
                {

                    if (item.AutoSlug == true && item.RowStatus != 1)
                    {
                        <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                            <div class="box-head">
                                <i class="fa"><img src="~/Images/Service/@item.ImageSlug" style="border-radius:50%"></i>
                                <h4 class="main-color"><span data-hover="@item.ServiceName">@item.ServiceName</span></h4>
                            </div>
                            <div class="clearfix"></div>
                            <p class="mediumFont">@item.ShortDescriptionHtml</p>
                            <a class="r-more main-color" href="~/chi-tiet-dich-vu?id=@item.Id">Read More</a>
                        </div>
                    }
                }

            }

            @*<div class="cell-3 service-box-3 fx" data-animate="fadeInDown" data-animation-delay="200">
                    <div class="box-head">
                        <i class="icon main-bg fa fa-android"></i>
                        <h4 class="main-color"><span data-hover="Fast &amp; Fresh">Fast &amp; Fresh</span></h4>
                    </div>
                    <div class="clearfix"></div>
                    <p class="mediumFont">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                    <a class="r-more main-color" href="services.html">Read More</a>
                </div>
                <div class="cell-3 service-box-3 fx" data-animate="fadeInDown" data-animation-delay="400">
                    <div class="box-head">
                        <i class="icon main-bg fa fa-bell"></i>
                        <h4 class="main-color"><span data-hover="User Experience">User Experience</span></h4>
                    </div>
                    <div class="clearfix"></div>
                    <p class="mediumFont">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.Proin gravida lorem quis bibendum auctor, nisi elit consequipsum.Proin gravida nibh vel velit auctor.</p>
                    <a class="r-more main-color" href="services.html">Read More</a>
                </div>
                <div class="cell-3 service-box-3 fx" data-animate="fadeInDown" data-animation-delay="600">
                    <div class="box-head">
                        <i class="icon main-bg fa fa-lightbulb-o"></i>
                        <h4 class="main-color"><span data-hover="Responsive Layout">Responsive Layout</span></h4>
                    </div>
                    <div class="clearfix"></div>
                    <p class="mediumFont">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p>
                    <a class="r-more main-color" href="services.html">Read More</a>
                </div>*@
        </div>
    </div>

    <!-- FUN Staff -->
    @*<div class="fun-staff staff-2 block-bg-4 sectionWrapper black-overlay">
            <div class="container">
                <div class="cell-2 fx" data-animate="fadeInDown">
                    <div class="fun-icon"><i class="fa fa-leaf witTxt"></i></div>
                    <div class="fun-text witTxt">Thành lập</div>
                    <div class="fun-number witTxt">2017</div>
                </div>
                <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="200">
                    <div class="fun-icon"><i class="fa fa-clock-o witTxt"></i></div>
                    <div class="fun-text witTxt">Giờ làm việc</div>
                    <div class="fun-number witTxt">1360</div>
                </div>
                <div class="cell-4 fx" data-animate="fadeInDown">
                    <div class="fun-title extraBold">
                        Sự thật<br><span>Thú vị</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet</p>
                    </div>
                </div>
                <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="400">
                    <div class="fun-icon"><i class="fa fa-group witTxt"></i></div>
                    <div class="fun-text witTxt">Nhân viên</div>
                    <div class="fun-number witTxt">2350</div>
                </div>
                <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="600">
                    <div class="fun-icon"><i class="fa fa-bell witTxt"></i></div>
                    <div class="fun-text witTxt">Dự án</div>
                    <div class="fun-number witTxt">25</div>
                </div>
            </div>
        </div>*@

    <!-- portfolio -->
    <div class="sectionWrapper">
        <div class="container">
            <h3 class="block-head">Danh mục dự án</h3>
            <div class="portfolio-box">
                <div class="portfolio-filterable">
                    <div class="row">
                        <div class="gry-bg skew-25" style="width: 100%;">
                            <span class="skew25 left filter-by">Lọc:</span>
                            <ul id="filters">
                                <li class="active"><a href="#" class="skew25 filter" data-filter="*">Tất cả</a></li>
                                <li><a href="#" class="skew25 filter" data-filter=".DS01">Website</a></li>
                                <li><a href="#" class="skew25 filter" data-filter=".DL01">Phần mềm</a></li>
                                @*<li><a href="#" class="skew25 filter" data-filter=".seo">SEO Management</a></li>*@
                            </ul>
                        </div>
                        <div class="portfolio-items" id="container">
                            @{
                                var projectsModel = await AT.Helpers.ProjectsHelper.GetDataProjects(webContext);
                                @foreach (var item in Model.listProj.Take(8))
                                {
                                    if (item.RowStatus != 1)
                                    {
                                        <div class="cell-3 @item.FkProjectTypeId" data-category="@item.FkProjectTypeId">
                                            <div class="portfolio-item">
                                                <div class="img-holder">
                                                    <div class="gallery portfolio-img-slick">
                                                        <div>
                                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                                <img src="~/Images/Project/@item.ImageSlug" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                                <img src="~/Images/Project/@item.ImageSlug" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                                <img src="~/Images/Project/@item.ImageSlug" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                                <img src="~/Images/Project/@item.ImageSlug" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title">
                                                                <img src="~/Images/Project/@item.ImageSlug" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="name-holder">
                                                    <a href="~/chi-tiet-du-an?id=@item.Id" class="project-name">@item.Name</a>
                                                    @foreach (var item1 in projectsModel.listProjType)
                                                    {
                                                        if (item1.Id == item.FkProjectTypeId)
                                                        {
                                                            <span class="project-options">@item1.Name</span>
                                                        }
                                                        else { }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="clearfix"></div>
                <div class="view-all-projects"><a class="btn main-bg btn-3d btn-lg" href="portfolio-4-cols.html">Browse All Projects</a></div>*@
        </div>
    </div>

    <!-- Follow us -->
    @*<div class="sectionWrapper follow-block gry-bg">
        <div class="container">
            <h3 class="block-head">Theo dõi chúng tôi trên Twitter</h3>
            <span class="icon-middle main-color skew-25"><i class="fa fa-twitter skew25"></i></span>
            <div class="twitter-carousel">
                <div>
                    <p><strong>about 2 days ago</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesqueLorem ipsum</p>
                    <p class="follow-link"><a href="#">https://twitter.com/exception/creative</a></p>
                </div>
                <div>
                    <p><strong>about 8 days ago</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesqueLorem ipsum</p>
                    <p class="follow-link"><a href="#">https://twitter.com/exception/creative</a></p>
                </div>
                <div>
                    <p><strong>about 11 days ago</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesqueLorem ipsum</p>
                    <p class="follow-link"><a href="#">https://twitter.com/exception/creative</a></p>
                </div>
                <div>
                    <p><strong>about 20 days ago</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesqueLorem ipsum</p>
                    <p class="follow-link"><a href="#">https://twitter.com/exception/creative</a></p>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Responsive Design start -->
    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                @foreach (var SerItem in Model.listservice)
                {
                    if (SerItem.Note == "Highlights")
                    {
                        <div class="cell-8">
                            <!-- Responsive Web Design start -->
                            <div class="fx" data-animate="fadeInLeft">
                                <h3 class="block-head">@SerItem.ServiceName</h3>
                                <p style="font-size: 1.5em;" class="hint hintMargin">
                                    @SerItem.LongDescriptionHtml
                                </p>
                                <ul class="list alt list-ok">
                                    <li class="fx" data-animate="fadeInLeft">
                                        Website có thể truy cập dễ dàng bằng tất cả các thiết bị (đáp ứng được nhu cầu của người sử dụng di động).
                                    </li>
                                    <li class="fx" data-animate="fadeInLeft" data-animation-delay="200">Thu hút những khách hàng truy cập website trên đường đi, quản lí nhiều hiển thị chỉ với một lần chỉnh sửa.</li>
                                    <li class="fx" data-animate="fadeInLeft" data-animation-delay="400">
                                        Giảm chi phí và thời gian thiết kế cho nhiều loại màn hình, cải thiện seo cho website.
                                    </li>
                                </ul>
                            </div>
                            <!-- Responsive Web Design end -->
                        </div>
                        <!-- right devices image start -->
                        <div class="cell-4 fx" data-animate="flipInX">
                            <div class="padd-top-25 center">
                                <img alt="" src="~/Image/@SerItem.ImageSlug">
                            </div>
                        </div>
                        <!-- right devices image end -->
                    }

                }
            </div>
        </div>
    </div>
    <!-- Responsive Design end -->
    <!-- our clients block start -->
    <div class="sectionWrapper gry-bg">
        <div class="container">
            <h3 class="block-head">Khách hàng của chúng tôi</h3>
            <div class="clients">
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-1.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-2.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-3.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-4.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-5.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-6.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-7.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-8.png"></a>
                </div>
                <div>
                    <a class="white-bg" href="#"><img alt="" src="images/clients/client-9.png"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- our clients block end -->

</div>
<!-- Content End -->
@section scripts{
    <link rel="stylesheet" href="~/css/swiper.css">
    <script src="~/js/swiper.js"></script>
}