@model CategoryCreateViewModel


@{
    ViewData["Title"] = "Create";
}


<h4>Create Category</h4>
<hr />
<form asp-action="Create">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<input type="submit" value="Create" class="btn btn-primary" />
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Code" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Code" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Code" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Name" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Name" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Slug_Name" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Slug_Name" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Slug_Name" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="AutoSlug" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<kendo-switch for="AutoSlug" checked="@Model?.AutoSlug"/>
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="AutoSlug" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="FkCategoryId" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<kendo-dropdownlist for="FkCategoryId" class="form-control" bind-to="ViewBag.FkCategoryId" option-label="--- None ---" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="FkCategoryId" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Rank" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-6 col-md-5 col-lg-4 col-xl-3">
								<kendo-numerictextbox for="Rank" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
						</div>
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Rank" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="SortIndex" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-6 col-md-5 col-lg-4 col-xl-3">
								<kendo-numerictextbox for="SortIndex" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
						</div>
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="SortIndex" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Tags" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<input asp-for="Tags" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Tags" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="KeyWord_Image" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<button id="btnChooseImage_KeyWord_Image" class="btn mb-1">Choose image</button>
								<input type="hidden" asp-for="KeyWord_Image"/>
								<img id="img_KeyWord_Image" src="@Url.Content(Model?.KeyWord_Image)" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="KeyWord_Image" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="MetaData" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<input asp-for="MetaData" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="MetaData" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Note_Html" class="col-form-label"></label>
					</div>
		<div class="col-12">
            @(Html.Kendo().EditorFor(h => h.Note_Html).Encoded(false)
                  .HtmlAttributes(new { style = "height:440px" })
                  .Resizable(resizable => resizable.Content(true))
                  .Tools(tools => tools
                    .Clear()
                    .CleanFormatting()
                    .Formatting()
                    .ForeColor()
                    .BackColor()
                    .Bold()
                    .Italic()
                    .Underline()
                    .Strikethrough()
                    .JustifyLeft()
                    .JustifyCenter()
                    .JustifyRight()
                    .JustifyFull()
                    .InsertUnorderedList()
                    .InsertOrderedList()
                    .Outdent()
                    .Indent()
                    .CreateLink()
                    .Unlink()
                    .InsertImage()
                    .SubScript()
                    .SuperScript()
                    .TableEditing()
                    .FontName()
                    .FontSize()
                )
                  .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/" + ImageBrowserCategoryController.FOLDER_NAME + "/{0}")
                      .Read("Read", (string)ViewData["ControllerNameForImageBrowser"])
                      .Destroy("Destroy", (string)ViewData["ControllerNameForImageBrowser"])
                      .Upload("Upload", (string)ViewData["ControllerNameForImageBrowser"])
                  )
            )
        </div>
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Note_Html" class="text-danger"></span>
					</div>
				</div>
		
		
	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<input type="submit" value="Create" class="btn btn-primary" />
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
</form>



@(Html.Kendo().Dialog()
	.Name("dialogChooseImage_KeyWord_Image")
	.Title("Choose image")
	.Content("<div id=\"divChooseImage_KeyWord_Image\"></div>")
	.Width(600)
	.Visible(false)
	.Modal(true)
)



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
        $(document).ready(function () {
            $("#divChooseImage_KeyWord_Image").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content("~/" + ImageBrowserCategoryController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#KeyWord_Image").val(selectedImage);
                    $("#img_KeyWord_Image").attr("src", selectedImage);
                    $('#dialogChooseImage_KeyWord_Image').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_KeyWord_Image").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_KeyWord_Image').data("kendoDialog").open();
                
            });
        });
    </script>	
}
