@model CategoryEditViewModel


@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Category</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Slug_Name" class="btn btn-danger">Delete</a>
            <a asp-action="Edit" asp-route-id="@Model.Slug_Name" class="btn btn-success">Refresh</a>
            <a asp-action="Details" asp-route-id="@Model.Slug_Name" class="k-button">Details</a>
            <a asp-action="Index" class="k-button">Back to List</a>
        </div>
    </div>
    <input type="hidden" name="Id" value="@Model?.Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Code" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Code" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Name" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Slug_Name" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Slug_Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Slug_Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="AutoSlug" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <kendo-switch for="AutoSlug" checked="@Model?.AutoSlug" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="AutoSlug" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="FkCategoryId" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <kendo-dropdownlist for="FkCategoryId" class="form-control" bind-to="@ViewBag.FkCategoryId" option-label="--- None ---" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="FkCategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Thumbnail_Image" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <button id="btnChooseImage_Thumbnail_Image" class="btn mb-1">Choose image</button>
            <input type="hidden" asp-for="Thumbnail_Image" />
            <img class="border border-primary" id="img_Thumbnail_Image" src="@Url.Content(Model?.Thumbnail_Image)" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Thumbnail_Image" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="SortIndex" class="col-form-label"></label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="SortIndex" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="SortIndex" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Tags" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="Tags" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="KeyWord" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="KeyWord" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="KeyWord" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="MetaData" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="MetaData" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="MetaData" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Note_Multiline" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="Note_Multiline" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Note_Multiline" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Delete" asp-route-id="@Model.Slug_Name" class="btn btn-danger">Delete</a>
            <a asp-action="Edit" asp-route-id="@Model.Slug_Name" class="btn btn-success">Refresh</a>
            <a asp-action="Details" asp-route-id="@Model.Slug_Name" class="k-button">Details</a>
            <a asp-action="Index" class="k-button">Back to List</a>
        </div>
    </div>
</form>

@(Html.Kendo().Dialog()
    .Name("dialogChooseImage_Thumbnail_Image")
    .Title("Choose image")
    .Content("<div id=\"divChooseImage_Thumbnail_Image\"></div>")
    .Width(600)
    .Visible(false)
    .Modal(true)
)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#divChooseImage_Thumbnail_Image").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content("~/" + ImageBrowserCategoryController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#Thumbnail_Image").val(selectedImage);
                    $("#img_Thumbnail_Image").attr("src", selectedImage);
                    $('#dialogChooseImage_Thumbnail_Image').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_Thumbnail_Image").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_Thumbnail_Image').data("kendoDialog").open();

            });
        });
    </script>
}
