
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext

@{
    ViewData["Title"] = "Tuyển dụng";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Tuyển <span>dụng</span></h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Trang:</span><a href="~/Home">Trang chủ</a><span class="line-separate">/</span><a href="~/tuyen-dung"> Tuyển dụng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-9 blog-thumbs">
                    <div class="blog-posts">
                        @{
                            var recruitementModel = await AT.Helpers.RecruitementHelper.GetDataRecruitement(webContext);
                            int dems = 0;
                            foreach (var item in recruitementModel.Recruitement)
                            {
                                if (++dems > 12)
                                {
                                    <div class="post-item fx" data-animate="fadeInLeft">
                                        <div class="post-image">
                                            <a href="blog-single.html">
                                                <div class="mask"></div>
                                                <div class="post-lft-info">
                                                    <div class="main-bg">@item.CreatedDate</div>
                                                </div>
                                                <img src="images/blog/small/1.jpg" alt="Our Blog post image goes here">
                                            </a>
                                        </div>
                                        <article class="post-content">
                                            <div class="post-info-container">
                                                <div class="post-info">
                                                    <h2><a class="main-color" href="~/chi-tiet-tuyen-dung?id=@item.Id=@item.FkNewsTypeId">@item.Title</a></h2>

                                                    <ul class="post-meta">
                                                        <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                        <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p>
                                                @item.SlugTitle
                                            </p>
                                        </article>
                                    </div>
                                }
                            }
                        }



                        <div class="pager skew-25">
                            <ul>
                                <li><a class="skew25" href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="selected"><span class="skew25">1</span></li>
                                <li><a class="skew25" href="#">2</a></li>
                                <li><a class="skew25" href="#">3</a></li>
                                <li><a class="skew25" href="#">4</a></li>
                                <li><a class="skew25" href="#">5</a></li>
                                <li><span class="skew25">...</span></li>
                                <li><a class="skew25" href="#">10</a></li>
                                <li><a class="skew25" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <aside class="cell-3 right-sidebar">
                    <ul class="sidebar_widgets">
                        <li class="widget search-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Tìm Kiếm</h3>
                            <div class="widget-content">
                                <form action="#" method="get">
                                    <input type="text" name="t" id="t2-search" class="txt-box" placeholder="Enter search keyword..." />
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </li>

                        <li class="widget r-posts-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Thông tin tuyển dụng</h3>
                            <div class="widget-content">
                                <ul>
                                    @{
                                        int dem = 0;
                                        @foreach (var item in recruitementModel.Recruitement)
                                        {
                                            if (++dem < 5)
                                            {
                                                <li>
                                                    <div class="post-img">
                                                        <img src="images/people/@item.ImageSlug" alt="">
                                                    </div>
                                                    <div class="widget-post-info">
                                                        <h4>
                                                            <a href="~/chi-tiet-tuyen-dung">
                                                                @item.Title
                                                            </a>
                                                        </h4>
                                                        <div class="meta">
                                                            <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                                        </div>
                                                    </div>
                                                </li>


                                            }

                                        }
                                    }
                                </ul>
                            </div>
                        </li>

                        <li class="widget blog-cat-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Chi tiết tin tức</h3>
                            <div class="widget-content">
                                <ul class="list list-ok alt">
                                    @{
                                        int demm = 0;
                                        @foreach (var item in recruitementModel.Recruitement)
                                        {
                                            if (++demm < 6)
                                            {
                                                <li><a href="~/chi-tiet-tin-tuc">@item.Title</a></li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </li>

                        <li class="widget r-comments-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">ý kiến gần đây</h3>
                            <div class="widget-content">
                                <ul>

                                    @{
                                        int demq = 0;
                                        @foreach (var item in recruitementModel.Recruitement)
                                        {
                                            if (++demq < 4)
                                            {
                                                <li>
                                                    <div class="left"><i class="fa fa-comments"></i></div>
                                                    <h5>admin on <a href="blog-single.html">@item.MetaData</a></h5>
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013</span>
                                                </li>

                                            }
                                        }
                                    }


                                </ul>
                            </div>
                        </li>

                        <li class="widget tags-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Tag Cloud</h3>
                            <div class="widget-content">
                                <div class="tags">
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">Performance</a>
                                    <a href="#">Development</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">SEO</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">ASP.Net</a>
                                    <a href="#">SharePoint</a>
                                </div>
                            </div>
                        </li>

                        <li class="widget flickr-stream-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Flickr Stream</h3>
                            <div class="widget-content">
                                <ul id="flickrFeed-inner"></ul>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>
<!-- Content End -->