@model PaginatedList<AT.Efs.Entities.News>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@{
    ViewData["Title"] = "Tuyển Dụng";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Tin <span>tức</span></h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Trang:</span><a href="~/Home">Trang chủ</a><span class="line-separate">/</span><span>Tin tức</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-9 blog-thumbs">
                    <div class="blog-posts">
                        @{ var loaitinModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);
                            foreach (var item in Model)
                            {
                                <div class="post-item fx" data-animate="fadeInLeft">
                                    <div class="post-image">
                                        <a href="~/chi-tiet-tuyen-dung?id=@item.Id&type=@item.FkNewsTypeId">
                                            <div class="mask"></div>
                                            <div class="post-lft-info">
                                                <div class="main-bg">@item.CreatedDate.Day<br>@item.CreatedDate.Month<br>@item.CreatedDate.Year</div>
                                            </div>
                                            <img src="~/Images/blog/small/@item.ImageSlug" alt="Our Blog post image goes here">
                                        </a>
                                    </div>
                                    <article class="post-content">
                                        <div class="post-info-container">
                                            <div class="post-info">
                                                <h2><a class="main-color" href="~/chi-tiet-tuyen-dung?id=@item.Id&type=@item.FkNewsTypeId">@item.Title</a></h2>
                                                <ul class="post-meta">
                                                    <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">@item.CreatedBy</a></li>
                                                    <li>
                                                        <i class="fa fa-folder-open"></i>Category: <a href="#">
                                                            @{foreach (var item1 in loaitinModel.listBlogT)
                                                                {
                                                                    if (item.FkNewsTypeId == item1.Id)
                                                                    { @item1.Name; break;
                                                                }
                                                            }
                                                            }
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <p>
                                            @item.ShortDescriptionHtml
                                            <a class="read-more" href="~/chi-tiet-tuyen-dung?id=@item.Id&type=@item.FkNewsTypeId">
                                                Read more
                                            </a>
                                        </p>
                                    </article>
                                </div>
                            } }
                        <div class="pager skew-25">


                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>

                        </div>
                    </div>
                </div>
                <aside class="cell-3 right-sidebar">
                    <ul class="sidebar_widgets">


                        <li class="widget r-posts-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Recent Posts</h3>
                            <div class="widget-content">
                                <ul>
                                    @{ var menuModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);
                                        int maxDay = 0;
                                        int maxMonth = 0;
                                        int maxYear = 0;
                                        foreach (var item in menuModel.listBlog)
                                        {
                                            if (item.CreatedDate.Day > maxDay)
                                            {
                                                maxDay = item.CreatedDate.Day;
                                            }
                                            if (item.CreatedDate.Month > maxMonth)
                                            {
                                                maxMonth = item.CreatedDate.Month;
                                            }
                                            if (item.CreatedDate.Year > maxYear)
                                            {
                                                maxYear = item.CreatedDate.Year;
                                            }
                                        }
                                    }
                                    @foreach (var item in menuModel.listBlog)
                                    {
                                        if (item.CreatedDate.Day > (maxDay - 3) && item.CreatedDate.Month == maxMonth && item.CreatedDate.Year == maxYear)
                                        {
                                            <li>
                                                <div class="post-img">
                                                    <img src="~/Images/News/@item.ImageSlug" alt="">
                                                </div>
                                                <div class="widget-post-info">
                                                    <h4>
                                                        <a href="~/chi-tiet-tuyen-dung?id=@item.Id&type=@item.FkNewsTypeId">
                                                            @item.Title
                                                        </a>
                                                    </h4>
                                                    <div class="meta">
                                                        <span><i class="fa fa-clock-o"></i>@item.CreatedDate</span>

                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @*<li>
                                            <div class="post-img">
                                                <img src="images/people/1.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4>
                                                    <a href="blog-single.html">
                                                        Blog post title
                                                    </a>
                                                </h4>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-img">
                                                <img src="images/people/1.jpg" alt="">
                                            </div>
                                            <div class="widget-post-info">
                                                <h4>
                                                    <a href="blog-single.html">
                                                        Blog post title with Image
                                                    </a>
                                                </h4>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"></a>
                                                </div>
                                            </div>
                                        </li>*@
                                </ul>
                            </div>
                        </li>

                        <li class="widget blog-cat-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Blog Categories</h3>
                            <div class="widget-content">
                                <ul class="list list-ok alt">
                                    @{var demModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);
                                        foreach (var item in demModel.listBlogT)
                                        {
                                            int dem = 0;
                                            <li>

                                                @foreach (var item1 in demModel.listBlog)
                                                {
                                                    if (item.Id == item1.FkNewsTypeId)
                                                    { dem += 1; }
                                                }
                                                <a href="blog-single.html">@item.Name</a><span>[@dem]</span>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>


                        <li class="widget tags-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Tag Cloud</h3>
                            <div class="widget-content">
                                <div class="tags">
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">Performance</a>
                                    <a href="#">Development</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">SEO</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">ASP.Net</a>
                                    <a href="#">SharePoint</a>
                                </div>
                            </div>
                        </li>

                        <li class="widget flickr-stream-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Flickr Stream</h3>
                            <div class="widget-content">
                                <ul id="flickrFeed-inner"></ul>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>
<!-- Content End -->