@model PaginatedList<AT.Efs.Entities.News>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject AT.Efs.Entities.WebAtSolutionContext webContext
@{
    ViewData["Title"] = "Tin Tức";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Tin <span>tức</span></h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Trang:</span><a href="~/Home">Trang chủ</a><span class="line-separate">/</span><span>Tin tức</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-9 blog-thumbs">
                    <div class="blog-posts">
                        @{ var loaitinModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);
                            foreach (var item in Model)
                            {
                                if (item.RowStatus != 1)
                                {
                                    <div class="post-item fx" data-animate="fadeInLeft">
                                        <div class="post-image">
                                            <a href="~/chi-tiet-tin-tuc?id=@item.Id&type=@item.FkNewsTypeId">
                                                <div class="mask"></div>
                                                <div class="post-lft-info">
                                                    <div class="main-bg">@item.CreatedDate.Day<br>@item.CreatedDate.Month<br>@item.CreatedDate.Year</div>
                                                </div>
                                                <img src="~/Image/@Url.Content(@item.ImageSlug)" alt="Our Blog post image goes here">
                                            </a>
                                        </div>
                                        <article class="post-content">
                                            <div class="post-info-container">
                                                <div class="post-info">
                                                    <h2><a class="main-color" href="~/chi-tiet-tin-tuc?id=@item.Id&type=@item.FkNewsTypeId">@item.Title</a></h2>
                                                    <ul class="post-meta">
                                                        <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">@item.CreatedBy</a></li>
                                                        <li>
                                                            <i class="fa fa-folder-open"></i>CATEGORY: <a href="#">
                                                                @{foreach (var item1 in loaitinModel.listBlogT)
                                                                    {
                                                                        if (item.FkNewsTypeId == item1.Id)
                                                                        { @item1.Name; break;
                                                                    }
                                                                }
                                                                }
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <p>
                                                @item.ShortDescriptionHtml
                                                <a class="read-more" href="~/chi-tiet-tin-tuc?id=@item.Id&type=@item.FkNewsTypeId">
                                                    Đọc thêm
                                                </a>
                                            </p>
                                        </article>
                                    </div>
                                }
                            }
                        }
                        <div class="pager skew-25">


                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-Trang="@(Model.PageIndex - 1)"
                               asp-route-id="@Model.Id"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-Trang="@(Model.PageIndex + 1)"
                               asp-route-id="@Model.Id"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>

                        </div>
                    </div>
                </div>
                <aside class="cell-3 right-sidebar">
                    <ul class="sidebar_widgets">


                        <li class="widget r-posts-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Bài viết tuyển dụng gần đây</h3>
                            <div class="widget-content">
                                <ul>
                                    @{ var menuModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);

                                        foreach (var item in menuModel.listBlog.Take(3))
                                        {
                                            if(item.RowStatus !=1)
                                            { 
                                            <li>
                                                <div class="post-img">
                                                    <img src="~/Images/News/@item.ImageSlug" alt="">
                                                </div>
                                                <div class="widget-post-info">
                                                    <h4>
                                                        <a href="~/chi-tiet-tin-tuc?id=@item.Id&type=@item.FkNewsTypeId">
                                                            @item.Title
                                                        </a>
                                                    </h4>
                                                    <div class="meta">
                                                        <span><i class="fa fa-clock-o"></i>@item.CreatedDate</span>

                                                    </div>
                                                </div>
                                            </li>
                                            }
                                        }
                                    }
                                   
                                </ul>
                            </div>
                        </li>

                        <li class="widget blog-cat-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Loại bài viết</h3>
                            <div class="widget-content">
                                <ul class="list list-ok alt">
                                    @{var demModel = await AT.Helpers.BlogHelper.GetDataBlog(webContext);
                                        foreach (var item in demModel.listBlogT)
                                        {
                                            int dem = 0;
                                            <li>

                                                @foreach (var item1 in demModel.listBlog)
                                                {
                                                    if (item.Id == item1.FkNewsTypeId)
                                                    { dem += 1; }
                                                }
                                                <a href="~/tin-tuc?id=@item.Id">@item.Name</a><span>[@dem]</span>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>


                        <li class="widget tags-w fx" data-animate="fadeInRight">
                            <h3 class="widget-head">Thẻ</h3>
                            <div class="widget-content">
                                <div class="tags">
                                    <a href="#">Design</a>
                                    <a href="#">User interface</a>
                                    <a href="#">Performance</a>
                                    <a href="#">Development</a>
                                    <a href="#">WordPress</a>
                                    <a href="#">SEO</a>
                                    <a href="#">Joomla</a>
                                    <a href="#">ASP.Net</a>
                                    <a href="#">SharePoint</a>
                                </div>
                            </div>
                        </li>

                        
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>
@section scripts{
    @{
        var titleimg = await AT.Helpers.MenuHelper.GetDataMenu(webContext);
        foreach (var item in titleimg.listMenu)
        {
            if (item.SlugName == "tin-tuc")
            {
                <style>
                .title-1 {
            background: #fff url('../@item.ImageSlug') no-repeat 50% 50%;
                }
                </style>
            }
        }
    }
}
<!-- Content End -->