
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GOLDENSEA</title>

    <link rel="stylesheet" href="~/lib/regular.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/at-e-commerce.css" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/vendors/css/gauge.min.css" rel="stylesheet" />
    <link href="~/vendors/css/toastr.min.css" rel="stylesheet" />
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/jszip.min.js"></script>
    <script src="~/lib/kendo.all.min.js"></script>
    <script src="~/lib/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/app.js"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img width="40" src="~/logo/logoGoldenSea.png" />
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none mr-auto">
        </ul>
        <div class="login" style="margin-right: 105px;">
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="nav">
                    @*<li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="AccountObject" asp-action="Index"><i class="icon-speedometer"></i>Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index"><i class="icon-speedometer"></i>Loại sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Index"><i class="icon-speedometer"></i>Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="ProductImage" asp-action="Index"><i class="icon-speedometer"></i>Hình sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="ProductComment" asp-action="Index"><i class="icon-speedometer"></i>Bình luận</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index"><i class="icon-speedometer"></i>Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="NewsType" asp-action="Index"><i class="icon-speedometer"></i>Loại tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="AboutUs" asp-action="Index"><i class="icon-speedometer"></i>Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Contact" asp-action="Index"><i class="icon-speedometer"></i>Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="ImageSlide" asp-action="Index"><i class="icon-speedometer"></i>Banner</a>
                    </li>
                </ul>
                }
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <!-- Main content -->
        <div class="main">
            <div class="container-fluid">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

@*<body>

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img width="100" src="~/logo/logoGoldenSea.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Loại sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProductImage" asp-action="Index">Hình sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="NewsType" asp-action="Index">Loại tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">Giới thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Liên hệ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ImageSlide" asp-action="Index">Banner</a>
                                </li>
                            </ul>
                        }
                        else
                        {

                        }
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - GOLDENSEA - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
            </div>
        </footer>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>*@
</html>
