@model ProductCreateViewModel


@{
    ViewData["Title"] = "Create";

}


<h4>Tạo sản phẩm</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại danh sách</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Code" class="col-form-label">Mã</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Code" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Name" class="col-form-label">Tên</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group slugName">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Slug_Name" class="col-form-label">SEO</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Slug_Name" class="k-textbox form-control slugtitle" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Slug_Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="AutoSlug" class="col-form-label">Auto SEO</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <kendo-switch for="AutoSlug" checked="@Model?.AutoSlug" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="AutoSlug" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="FkProductId" class="col-form-label">Loại sản phẩm</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            @*<kendo-dropdowntree for="FkProductId" class="form-control" bind-to="@a" />*@
            @(Html.Kendo().DropDownTreeFor(h => h.FkProductId)
                .BindTo((IEnumerable<DropDownTreeItemModel>)(ViewData["FkProductId"]))
                .HtmlAttributes(new { @class = "form-control" })
                .Filter(FilterType.Contains)
            )
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="FkProductId" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="StyleShow" class="col-form-label">Nhóm sản phẩm</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <select asp-for="StyleShow">
                <option value="1">
                    Ưu đãi hằng ngày
                </option>
                <option value="2">
                    Sẳn phẩm thịnh hành
                </option>
                <option value="3">
                    Sản phẩm mới nhất 
                </option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Specification_Html" class="col-form-label">Đặc điểm</label>
        </div>
        <div class="col-12">
            @(Html.Kendo().EditorFor(h => h.Specification_Html).Encoded(false)
                  .HtmlAttributes(new { style = "height:440px" })
                  .Resizable(resizable => resizable.Content(true))
                  .Tools(tools => tools
                    .Clear()
                    .CleanFormatting()
                    .Formatting()
                    .ForeColor()
                    .BackColor()
                    .Bold()
                    .Italic()
                    .Underline()
                    .Strikethrough()
                    .JustifyLeft()
                    .JustifyCenter()
                    .JustifyRight()
                    .JustifyFull()
                    .InsertUnorderedList()
                    .InsertOrderedList()
                    .Outdent()
                    .Indent()
                    .CreateLink()
                    .Unlink()
                    .InsertImage()
                    .SubScript()
                    .SuperScript()
                    .TableEditing()
                    .FontName()
                    .FontSize()
                )
                  .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/" + ImageBrowserProductController.FOLDER_NAME + "/{0}")
                      .Read("Read", (string)ViewData["ControllerNameForImageBrowser"])
                      .Destroy("Destroy", (string)ViewData["ControllerNameForImageBrowser"])
                      .Upload("Upload", (string)ViewData["ControllerNameForImageBrowser"])
                  )
            )
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Specification_Html" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="ShortDescription_Html" class="col-form-label">Mô tả ngắn</label>
        </div>
        <div class="col-12">
            @(Html.Kendo().EditorFor(h => h.ShortDescription_Html).Encoded(false)
                  .HtmlAttributes(new { style = "height:440px" })
                  .Resizable(resizable => resizable.Content(true))
                  .Tools(tools => tools
                    .Clear()
                    .CleanFormatting()
                    .Formatting()
                    .ForeColor()
                    .BackColor()
                    .Bold()
                    .Italic()
                    .Underline()
                    .Strikethrough()
                    .JustifyLeft()
                    .JustifyCenter()
                    .JustifyRight()
                    .JustifyFull()
                    .InsertUnorderedList()
                    .InsertOrderedList()
                    .Outdent()
                    .Indent()
                    .CreateLink()
                    .Unlink()
                    .InsertImage()
                    .SubScript()
                    .SuperScript()
                    .TableEditing()
                    .FontName()
                    .FontSize()
                )
                  .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/" + ImageBrowserProductController.FOLDER_NAME + "/{0}")
                      .Read("Read", (string)ViewData["ControllerNameForImageBrowser"])
                      .Destroy("Destroy", (string)ViewData["ControllerNameForImageBrowser"])
                      .Upload("Upload", (string)ViewData["ControllerNameForImageBrowser"])
                  )
            )
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="ShortDescription_Html" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="LongDescription_Html" class="col-form-label">Mô tả dài</label>
        </div>
        <div class="col-12">
            @(Html.Kendo().EditorFor(h => h.LongDescription_Html).Encoded(false)
                  .HtmlAttributes(new { style = "height:440px" })
                  .Resizable(resizable => resizable.Content(true))
                  .Tools(tools => tools
                    .Clear()
                    .CleanFormatting()
                    .Formatting()
                    .ForeColor()
                    .BackColor()
                    .Bold()
                    .Italic()
                    .Underline()
                    .Strikethrough()
                    .JustifyLeft()
                    .JustifyCenter()
                    .JustifyRight()
                    .JustifyFull()
                    .InsertUnorderedList()
                    .InsertOrderedList()
                    .Outdent()
                    .Indent()
                    .CreateLink()
                    .Unlink()
                    .InsertImage()
                    .SubScript()
                    .SuperScript()
                    .TableEditing()
                    .FontName()
                    .FontSize()
                )
                  .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/" + ImageBrowserProductController.FOLDER_NAME + "/{0}")
                      .Read("Read", (string)ViewData["ControllerNameForImageBrowser"])
                      .Destroy("Destroy", (string)ViewData["ControllerNameForImageBrowser"])
                      .Upload("Upload", (string)ViewData["ControllerNameForImageBrowser"])
                  )
            )
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="LongDescription_Html" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="SKU" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="SKU" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Color" class="col-form-label">Màu sắc</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Color" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Size" class="col-form-label">kích cỡ</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Size" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Material" class="col-form-label">Chất liệu</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Material" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Material" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Style" class="col-form-label">Kiểu</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Style" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Style" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Price" class="col-form-label">Giá</label>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="Price" class="form-control" min="@System.Double.MinValue" max="@System.Double.MaxValue" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="CCY" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="CCY" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="CCY" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Country" class="col-form-label">Xuất xứ</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Country" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Producer" class="col-form-label">Hãng sản xuất</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Producer" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Producer" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Status" class="col-form-label">Trạng thái</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Status" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="ImageSlug" class="col-form-label">Hình ảnh</label>
        </div>
        <div class="col-md-7">
            <button id="btnChooseImage_ImageSlug" class="btn mb-1">Chọn hình</button>
            <input style="display:none;" asp-for="ImageSlug" />
            <img width="200" class="border border-primary" id="img_ImageSlug" src="~/Image/@Url.Content(Model?.ImageSlug)" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="ImageSlug" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Rating" class="col-form-label">Đánh giá</label>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="Rating" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="CountView" class="col-form-label">Số lượt xem</label>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="CountView" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="CountView" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Tags" class="col-form-label">Thẻ</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Tags" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="KeyWord" class="col-form-label">Từ khóa</label>
        </div>
        <div class="col-md-7">
            <input asp-for="KeyWord" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="KeyWord" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="MetaData" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="MetaData" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="MetaData" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Note" class="col-form-label">Ghi chú</label>
        </div>
        <div class="col-md-7">
            <input asp-for="Note" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="CountComment" class="col-form-label">Số bình luận</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="CountComment" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="CountComment" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="CountReply" class="col-form-label">Số phản hồi</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <kendo-numerictextbox for="CountReply" class="form-control" min="@System.Int32.MinValue" max="@System.Int32.MaxValue" decimals="0" restrict-decimals="true" format="N0" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="CountReply" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại danh sách</a>
        </div>
    </div>
</form>


@(Html.Kendo().Dialog()
    .Name("dialogChooseImage_ImageSlug")
    .Title("Chọn hình")
    .Content("<div id=\"divChooseImage_ImageSlug\"></div>")
    .Width(600)
    .Visible(false)
    .Modal(true)
)



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $( ".k-switch-container" ).click(function() {
                $('.slugName').slideToggle(); //SlideUp-SlideDown
                if ($('.slugtitle').val() == '0') { 
                    $('.slugtitle').val(''); //if input has value = 0 then set it Empty
                } else {
                    $( '.slugtitle' ).val('0'); //set value = 0 unless it is Empty
                }
            });
            $("#divChooseImage_ImageSlug").kendoImageBrowser({
                transport: {
                    type: "imagebrowser-aspnetmvc",
                    read: "@Url.Action("Read", (string)ViewData["ControllerNameForImageBrowser"])",
                    destroy: "@Url.Action("Destroy", (string)ViewData["ControllerNameForImageBrowser"])",
                    imageUrl: "@Url.Content( ImageBrowserProductController.FOLDER_NAME + "/{0}")",
                    uploadUrl: "@Url.Action("Upload", (string)ViewData["ControllerNameForImageBrowser"])"
                },
                apply: function () {
                    var selectedImage = this.value();
                    $("#ImageSlug").val(selectedImage);
                    $("#img_ImageSlug").attr("src", "/Image/"+ selectedImage);
                    $('#dialogChooseImage_ImageSlug').data("kendoDialog").close();
                }
            });

            $("#btnChooseImage_ImageSlug").click(function (e) {
                e.preventDefault();
                $('#dialogChooseImage_ImageSlug').data("kendoDialog").open();

            });
        });
    </script>
}

